*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: aqua;
}

.background{
    padding-top: 1px;
    text-align: center;
}

.title{
    color: gray;
    font-size: 40px;
    margin-top: 10%;
}

.display{
    font-size: 30px;
    margin: 10px;
}

.playerX{
    color: red;
}

.playerO{
    color: black;
}

.container{
    margin: 20px auto;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
    justify-content: center;
    max-width: 300px;
    /* padding: 10px; */
}

.tile{
    min-width: 100px;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    cursor: pointer;
    background-color: aliceblue;
    border: 1px solid black;
}

.hide{
    display: none;
}

#reset{
    background-color: green;
    color: white;
    padding: 8px;
    border-radius: 8px;
    border: none;
    font-size: 18px;
    cursor: pointer;
}